body {
  font-family: "Merriweather Sans", sans-serif;
  background: linear-gradient(rgba(17, 24, 39, 255) 0%, rgba(0, 0, 0, 255) 100%)
    no-repeat;

  #checkout_form {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: #e5ece9;
    color: #211a1e;
    #form_title {
      text-align: center;
      padding-top: 20px;
    }
    .form_data {
      display: flex;
      flex-direction: column;
      border-radius: 7px;
      margin: 10px;
      padding-left: 10px;
      input {
        border-radius: 7px;
        height: 20px;
      }
      label {
        padding-bottom: 10px;
      }
    }
    #checkout-btn-container {
      text-align: center;
      margin-bottom: 50px;

      #checkout-btn {
        width: 250px;
        height: 40px;
        background-color: #3b82f6;
        font-size: 25px;
      }
    }
  }
}
