html body {
  font-family: "Merriweather Sans", sans-serif;
  text-align: center;
  background: linear-gradient(rgb(17, 24, 39) 70%, rgb(0, 0, 0) 100%) no-repeat;
  color: rgb(229, 231, 235);
}
html body input {
  justify-self: center;
  outline: none;
  border: none;
}
html body #shoestop {
  background: linear-gradient(to right, rgb(59, 130, 246) 60%, rgb(31, 60, 141) 100%);
  border-radius: 5px;
  width: 100px;
}
html body .shoes {
  background-color: #3b82f6;
  border-radius: 5px;
}
html body img {
  max-width: 100%;
  max-height: 100%;
}
html body header {
  display: flex;
}
html body header #purchase {
  display: flex;
}
html body header img {
  color: rgb(229, 231, 235);
  width: 40%;
}
html body main #top {
  display: grid;
}
html body #checkout_form {
  text-align: start;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: #e5ece9;
  color: #211a1e;
}
html body #checkout_form #form_title {
  text-align: center;
  padding-top: 20px;
}
html body #checkout_form .form_data {
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  margin: 10px;
  padding-left: 10px;
}
html body #checkout_form .form_data .form_input {
  border-radius: 7px;
  height: 20px;
}
html body #checkout_form .form_data label {
  padding-bottom: 10px;
}
html body #checkout_form #checkout-btn-container {
  text-align: center;
  margin-bottom: 50px;
}
html body #checkout_form #checkout-btn-container #checkout-btn {
  width: 250px;
  height: 40px;
  background-color: #3b82f6;
  font-size: 25px;
}
html body .shopping-cart-container table {
  width: 100%;
  border: none;
  border-collapse: collapse;
}
html body .shopping-cart-container table th {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
html body .shopping-cart-container table td {
  margin-left: 5px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}